<div class="row">
  <div class="col-xs-12">
    <h2>Aggiungi un Server</h2>
    <label for="serverName">Nome Server</label>
    <input type="text" class="form-control" [(ngModel)] = "newServerName" >

    <label for="contentServer">Descrizione</label>
    <input type="text" class="form-control" [(ngModel)] = "newServerContent" >

    <!-- inserire ngMODel -->
    <br>

    <button class="btn btn-primary"
            (click) = "onAddServer()"> Aggiungi Server </button>

    <br>

    <button class="btn btn-success"
            (click) = "onAddBlueprint()"> Aggiungi Blueprint</button>

  </div>
</div>
