<!-- String Interpolation -->
<h2>{{nomeComponent}}</h2>
<h4>Il component che vedi è il numero : {{numeroComponent}}</h4>
  <h4></h4>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ut unde! Consequuntur, doloribus aspernatur. Eaque provident perferendis ipsa,
  id dicta ex placeat doloribus soluta. Corrupti possimus nam veniam quis quaerat?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora explicabo fuga quae error doloribus soluta, est nihil autem animi possimus
raesentium commodi in porro optio harum, sequi debitis quasi assumenda.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatem, magni illo nihil quisquam eligendi eos repellat a tempora cum enim iure vel,
 adipisci minima odio repudiandae. Expedita, assumenda laborum!</p>

 <!-- Richiamo dal component primo-comoponent il mio component server
Si può fare ma non è bello -->
 <app-server></app-server>
